USE [master]
GO
/****** Object:  Database [MiniEWallet]    Script Date: 6/16/2026 10:30:12 PM ******/
CREATE DATABASE [MiniEWallet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniEWallet', FILENAME = N'D:\DBLog\MiniEWallet.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniEWallet_log', FILENAME = N'D:\DBLog\MiniEWallet_log.ldf' , SIZE = 102400KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniEWallet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniEWallet]
GO
/****** Object:  Table [dbo].[Tbl_Account]    Script Date: 6/16/2026 10:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Account](
	[Acc_Id] [int] IDENTITY(1,1) NOT NULL,
	[Acc_Name] [nvarchar](50) NULL,
	[Acc_Password] [int] NULL,
	[Acc_Phone] [nvarchar](13) NULL,
	[Acc_Address] [nvarchar](200) NULL,
	[Acc_Balance] [int] NULL,
	[Acc_Active] [bit] NULL,
	[Time_Log] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Account] PRIMARY KEY CLUSTERED 
(
	[Acc_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Transaction]    Script Date: 6/16/2026 10:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Transaction](
	[Tran_Id] [int] IDENTITY(1,1) NOT NULL,
	[FrAcc_Id] [int] NOT NULL,
	[ToAcc_Id] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Tran_Type] [int] NOT NULL,
	[Time_Log] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Transaction] PRIMARY KEY CLUSTERED 
(
	[Tran_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TranType]    Script Date: 6/16/2026 10:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TranType](
	[Tran_Type] [int] IDENTITY(1,1) NOT NULL,
	[Tran_Description] [nvarchar](50) NULL,
	[Time_Log] [datetime] NULL,
 CONSTRAINT [PK_Tbl_TranType] PRIMARY KEY CLUSTERED 
(
	[Tran_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transaction_Tbl_Transaction] FOREIGN KEY([Tran_Id])
REFERENCES [dbo].[Tbl_Transaction] ([Tran_Id])
GO
ALTER TABLE [dbo].[Tbl_Transaction] CHECK CONSTRAINT [FK_Tbl_Transaction_Tbl_Transaction]
GO
USE [master]
GO
